body {
  margin: 0;
  min-width: 1280px;
}

#suits-contain {
  position: relative;
  width: 1280px;
  margin-top: 0;
  margin-left: auto;
  z-index: 79;
  margin-right: auto;
}

#contenedorbkg {
  float: left;
  position: relative;
  width: 1280px;
  height: 863px;
  margin-top: 0;
  margin-left: 0;
  z-index: 7;
}

#footer {
  float: left;
  position: relative;
  width: 969px;
  margin-top: 813px;
  margin-left: -1125px;
  z-index: 16;
  min-height: 39px;
}

#separador1 {
  float: left;
  position: relative;
  width: 950px;
  height: 1px;
  margin-top: 0;
  margin-left: 10px;
  z-index: 11;
}

#getmeasured {
  float: left;
  position: relative;
  width: 109px;
  margin-top: 16px;
  margin-left: 0;
  z-index: 13;
  clear: left;
}

#separador3 {
  float: left;
  position: relative;
  width: 1px;
  height: 11px;
  margin-top: 21px;
  margin-left: 8px;
  z-index: 9;
}

#ourcollection {
  float: left;
  position: relative;
  width: 114px;
  margin-top: 16px;
  margin-left: 5px;
  z-index: 14;
}

#separador2 {
  float: left;
  position: relative;
  width: 1px;
  height: 11px;
  margin-top: 21px;
  margin-left: 8px;
  z-index: 10;
}

#aboutus {
  float: left;
  position: relative;
  width: 80px;
  margin-top: 16px;
  margin-left: 5px;
  z-index: 15;
  min-height: 22px;
}

#copyright {
  float: left;
  position: relative;
  width: 349px;
  margin-top: 15px;
  margin-left: 289px;
  z-index: 12;
}

#header {
  float: left;
  position: relative;
  width: 948px;
  margin-top: 24px;
  margin-left: -1115px;
  z-index: 70;
 }

#logo {
  float: left;
  position: relative;
  width: 168px;
  margin-top: 6px;
  margin-left: 0;
  z-index: 69;
  background-image: url(logo.png);
  background-repeat: no-repeat;
}

#snapsuits {
  float: left;
  position: relative;
  width: 168px;
  height: 22px;
  margin-top: 0;
  margin-left: 0;
  z-index: 68;
}

#thanks-1 {
  float: left;
  position: relative;
  width: 483px;
  margin-top: 0;
  margin-left: 297px;
  z-index: 66;
}

#thanks {
  float: left;
  position: relative;
  width: 483px;
  margin-top: 0;
  margin-left: 0;
  z-index: 65;
}

#contenedorrewards {
  float: left;
  position: relative;
  width: 949px;
  margin-top: 537px;
  margin-left: -1113px;
  z-index: 49;
}

#rewards {
  float: left;
  position: relative;
  width: 204px;
  margin-top: 0;
  margin-left: 370px;
  z-index: 48;
}

#rewardstitulo {
  float: left;
  position: relative;
  width: 204px;
  margin-top: 0;
  margin-left: 0;
  z-index: 47;
}

#contenedor1 {
  float: left;
  position: relative;
  width: 930px;
  margin-top: 14px;
  margin-left: 2px;
  z-index: 45;
  background-image: url(contenedor1.png);
  background-repeat: no-repeat;
  clear: left;
}

#friendsjoinedguide {
  float: left;
  position: relative;
  width: 146px;
  margin-top: 31px;
  margin-left: 0;
  z-index: 33;
}

#circulo1 {
  float: left;
  position: relative;
  margin-top: 15px;
  margin-left: 150px;
  z-index: 35;
  width: 46px;
  height: 46px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 4px solid red;
}

#circulo1:hover {
  background: red;
}

#text-4 {
  position: absolute;
  width: 54px;
  height: 35px;
  margin-left: -5%;
  padding-top: 10px;
  padding-bottom: 0;
  z-index: 40;
}

#text-4:hover > p{
  color: white;
}

#circulo2 {
  float: left;
  position: relative;
  margin-top: 10px;
  margin-left: 69px;
  z-index: 36;
  width: 55px;
  height: 55px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 4px solid red;
}
#circulo2:hover {
  background: red;
}

#text-3 {
  position: aboslute;
  width: 57px;
  height: 38px;
  padding-top: 15px;
  z-index: 40;
}

#text-3:hover > p{
  color: white;
}

#circulo3 {
  float: left;
  position: relative;
  margin-top: 6px;
  margin-left: 69px;
  z-index: 36;
  width: 65px;
  height: 65px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 4px solid red;
}
#circulo3:hover {
  background: red;
}

#text-2 {
  position: aboslute;
  width: 65px;
  height: 49px;
  padding-top: 18px;
  z-index: 40;
}

#text-2:hover > p{
  color: white;
}

#circulo4 {
  float: left;
  position: relative;
  margin-top: 2px;
  margin-left: 69px;
  z-index: 36;
  width: 70px;
  height: 70px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 4px solid red;
}
#circulo4:hover {
  background: red;
}

#text-1 {
  position: aboslute;
  width: 68px;
  height: 49px;
  padding-top: 18px;
  z-index: 40;
}

#text-1:hover > p{
  color: white;
}

#circulo5 {
  float: left;
  position: relative;
  margin-left: 69px;
  z-index: 36;
  width: 82px;
  height: 82px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 4px solid red;
}
#circulo5:hover {
  background: red;
}

#text {
  position: aboslute;
  width: 80px;
  height: 60px;
  padding-top: 25px;
  z-index: 40;
}

#text:hover > p{
  color: white;
}

#contenedor2 {
  float: left;
  position: relative;
  width: 949px;
  margin-top: 6px;
  margin-left: 0;
  z-index: 31;
  clear: left;
}

#snapsuitsgoodies {
  float: left;
  position: relative;
  width: 181px;
  margin-top: 0;
  margin-left: 0;
  z-index: 25;
}

#additional10off {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 3px;
  margin-left: 85px;
  z-index: 26;
}

#freesilkblackbow {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 3px;
  margin-left: 9px;
  z-index: 27;
}

#offanyitem {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 3px;
  margin-left: 19px;
  z-index: 28;
}

#freeshirt {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 3px;
  margin-left: 26px;
  z-index: 29;
}

#freecustomsuit {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 3px;
  margin-left: 34px;
  z-index: 30;
}

#friendsjoined-1 {
  float: left;
  position: relative;
  width: 230px;
  margin-top: 20px;
  margin-left: 358px;
  z-index: 23;
  clear: left;
}

#friendsjoined {
  float: left;
  position: relative;
  width: 230px;
  margin-top: 0;
  margin-left: 0;
  z-index: 22;
}

#keepchecking-1 {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 2px;
  margin-left: 413px;
  z-index: 20;
  clear: left;
}

#keepchecking {
  float: left;
  position: relative;
  width: 119px;
  margin-top: 0;
  margin-left: 0;
  z-index: 19;
}

#slide {
  float: left;
  position: relative;
  width: 618px;
  margin-top: 137px;
  margin-left: -947px;
  z-index: 62;
}

#tellyourcompany {
  float: left;
  position: relative;
  width: 618px;
  margin-top: 0;
  margin-left: 0;
  z-index: 61;
}

#tellyourcompany-title {
  float: left;
  position: relative;
  width: 618px;
  margin-top: 0;
  margin-left: 0;
  z-index: 60;
}

#textcopy-1 {
  float: left;
  position: relative;
  width: 423px;
  margin-top: 16px;
  margin-left: 98px;
  z-index: 58;
  clear: left;
}

#textcopy {
  float: left;
  position: relative;
  width: 423px;
  height: 78px;
  margin-top: 0;
  margin-left: 0;
  z-index: 57;
}

#socialicons {
  float: left;
  position: relative;
  width: 92px;
  margin-top: 134px;
  margin-left: 260px;
  z-index: 55;
  clear: left;
}

#fb {
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-left: 0;
  z-index: 53;
}

#separador5 {
  float: left;
  position: relative;
  width: 1px;
  height: 20px;
  margin-top: 6px;
  margin-left: 14px;
  z-index: 54;
}

#twitter {
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: 0;
  margin-left: 13px;
  z-index: 52;
}

#copylink {
  float: left;
  position: relative;
  width: 461px;
  margin-top: 328px;
  margin-left: -869px;
  z-index: 78;
  background-repeat: no-repeat;
}

#copylinkfield {
  float: left;
  position: relative;
  width: 248px;
  margin-top: 22px;
  margin-left: 9px;
  z-index: 73;
}

#copylinkbutton {
  float: left;
  position: relative;
  width: 180px;
  height: 61px;
  margin-top: 0;
  margin-left: 24px;
  z-index: 77;
  border-radius: 5px;
  background-color: rgb(255,55,48);
  cursor: pointer;
}

#copylinkbutton > p {
  padding-top: 20px;
  color: white;
}

p {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: 16px/21px Lato;
  text-transform: none;
  text-decoration: none;
  color: #666;
  letter-spacing: normal;
}

.text-style-1 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 14px/17px Lato;
  text-transform: none;
  text-decoration: none;
  color: #878787;
  letter-spacing: normal;
}

.text-style-2 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 14px/17px Lato;
  text-transform: none;
  text-decoration: none;
  color: #666;
  letter-spacing: normal;
}

.text-style-3 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: 16px/19px Lato;
  text-transform: none;
  text-decoration: none;
  color: #999;
  letter-spacing: normal;
}

.text-style-4 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 34px/51px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  letter-spacing: normal;
}

.text-style-5 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: right;
  font: bold 24px/36px Lato;
  text-transform: none;
  text-decoration: none;
  color: #666;
  letter-spacing: normal;
}

.text-style-6 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fd3934;
  letter-spacing: normal;
}

.text-style-7 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #666;
  letter-spacing: normal;
}

.text-style-8 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #666;
  letter-spacing: normal;
}

.text-style-9 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: left;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fd3934;
  letter-spacing: normal;
}

.text-style-10 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 16px/19px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fd3934;
  letter-spacing: normal;
}

.text-style-11 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fd3933;
  letter-spacing: normal;
}

.text-style-12 {
  margin: 0;
  padding: 0;
  text-indent: 0;
  text-align: center;
  font: bold 20px/24px Lato;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  letter-spacing: normal;
}

.span {
  color: #858585;
}

.span-1 {
  font-weight: normal;
  font-size: 12px;
}
